/* .container {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("beach.jpg");
    background-size: cover;
} */

.stadium {
    margin: auto;
    width: 100%;
    height: 90%;
}

.stadium img {
    background-size: cover;
    background-repeat: no-repeat;
}

.player img {
    position: absolute;
    left: 232px;
    top: 129px;
}

.ball img {
    position: absolute;
    left: 212px;
    top: 109px;
    transition-duration: 0.3s;
}